// TITLE ------------------------------------------------------------------------------ 
.title {
    @include adaptive-value("font-size", 48, $mediumFS);
    text-align: center;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: $mainColorText;
}

// SUBTITLE --------------------------------------------------------------------------- 
.subtitle {
    p:not(:last-child) {
        margin-bottom: 15px;
    }
    span {
        font-weight: 600;
    }
}

// BUTTON --------------------------------------------------------------------------------
.button {
    display: inline-block;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(46, 46, 46, 0.27);
    background: #FA6232;
    transition: all 0.3s ease 0s;
    a {
        @extend %center-flex;
        padding-top: 7px;
        padding-bottom: 7px;
        @include adaptive-value("padding-left", 35, $mediumIndent);
        @include adaptive-value("padding-right", 35, $mediumIndent);
        letter-spacing: 0.035em;
        line-height: 1.5;
        color: #FFFFFF;
    }
}
.button:hover {
    background-color: #e4582e;
}